 body{
        margin:0px;
        padding:0px;
    }
    #parallax{
  
background: url("photos/P_20180528_134444_BF.jpg");  

  /* Set a specific height */
  min-height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    
    nav{
        opacity: 70%;
    }
    #myself{
        background-color:antiquewhite; 
        width:100%;
        height:650px;
        margin: 0px;
        padding: 50px;
        transition: 5s;
        transition-timing-function: ease-in-out;
    }
    #myself > h3{
        text-align: center;
        font-family: comic sans;
        transition: 5s;
        transition-timing-function: ease-in-out;
        color: black;
        letter-spacing: 2px;
    }
     #myself > p{
        text-align: center;
        font-family: comic sans;
        transition: 5s;
        transition-timing-function: ease-in-out;
        color: black;
        letter-spacing: 2px;
        font-size: 20px;
    }
    #myself:hover {
        background-color: black;
    
    }
    #myself:hover h3{
        color:white;
    }
    #myself:hover p{
        color:white;
    }
    .block1{
        border-width: 5px;
        border-color:aqua;
        width:25%;
        border-radius: 5px;
    }
    #skill{
        width:100%;
        height:auto;
        background: linear-gradient(to top,skyblue,black);
        color: white;
        font-family: fantasy;
        text-align: center;
        align-content: center;
        letter-spacing: 2px;
        padding: 20px;
    }
    #skill span{
        font-size: 25px;
    }
    
    @keyframes html{
        from {width:0%;}
        to {width:80%;}
        
        }
    #html{
        animation-duration: 5s;
        animation-name:html;
        width: 80%;
        }
    @keyframes python{
        from {width:0%;}
        to {width:30%;}
        
        }
    #python{
        animation-duration: 5s;
        animation-name:python;
        width: 30%;
        }
    @keyframes front{
        from {width:0%;}
        to {width:70%;}
        
        }
    #fewbd{
        animation-duration: 5s;
        animation-name:front;
        width: 70%;
        }
     @keyframes back{
        from {width:0%;}
        to {width:20%;}
        
        }
    #bwbd{
        animation-duration: 5s;
        animation-name:back;
        width: 20%;
        }
    @keyframes ds{
        from {width:0%;}
        to {width:50%;}
        
        }
    #dsalgo{
        animation-duration: 5s;
        animation-name:ds;
        width: 50%;
        }
    @keyframes android{
        from {width:0%;}
        to {width:10%;}
        
        }
    #dsalgo{
        animation-duration: 5s;
        animation-name:android;
        width: 10%;
        }
    #familybtn{
        width: 100%;
        height: auto;
        text-align: center;
        
        
        padding: 10px;
        font-family: cursive;
        font-size: 30px;
        
    }
    #familybtn:hover {
        background: radial-gradient(lightblue,aqua,blue);
        
    } 

              section{
                  position:relative;
                  width:100%;
                  height:auto;
                  display:flex;
                  align-items: center;
                  justify-content: center;
                  overflow:hidden;
              }
              .video{
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%
              }
              #grid{

                  height: auto;
                  z-index:1;
                  opacity: 0.9;

              }

              .no-gutters{
                  margin:0px;
                  padding: 0px;
              }
              #grid img{
                  margin : 5px;
              }
            #carouselExampleCaptions{
            
            height: auto;
            width: 100%;
            
        }
    #footer{
        width:100%;
        height:auto;
        background-color: black;
        padding: 10px;
    }
    .block{
                border-width: 5px;
        border-color:white;
        width:75%;
        border-radius: 5px;
    }
    #footer .col{
        text-align: center;
        color:white;
        font-family: comic sans;
    }
    #footer .col p{
        font-size: 20px;
    }
    #social li{
        list-style: none;
        margin: 5px;
    }
           .icon {
            list-style: none;
            margin:5px 10px;
            
            display: inline-block;
            font-size: 20px;
            padding: 10px 10px;
            color: #fff;
            border: ipx solid #fff;
            border-radius: 50%;
            transition: .5s;
        }
        .icon:hover {
            color: #292929;
            border: 1px solid #2929229;
            transition: .5s;
            transform: scale(2);
        }
        #wtp{
           position: fixed;
           bottom: 15px;
           right: 15px;
           width: 60px;
           height:55px;
              }
